body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(228, 225, 225);
}

div{
    border-radius: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: white;
    /* background-color: red; */
}

.part1{
    position: absolute;
    top: 20px;
    left: 0vw;
    overflow-y:scroll;
    height: 100vh;
    width: 45vw;

    margin: 0;
    padding: 0;

    
}
.part2{
    position: absolute;
    top: 20px;
    left: 50vw;
    height: 100vh;
    width: 45vw;

    margin: 0;
    padding: 0;
    background-color: rgb(228, 225, 225);
    
}

.sunburst{
    height: 59vh;
    width: 45vw;
    
}

.sunburst svg{
    position: relative;
    top: 1vw;
    left: 9.5vw;
    height: 100vh;
    width: 45vw;

}

.part1::-webkit-scrollbar {
    display: none;
  }
  

.container{
    display: flex;
    /* background-color: rgb(228, 225, 225);
    text-align: center;
    grid-gap:10px;
    grid-template-columns: repeat(2, calc(100vw / 2));
    grid-auto-rows: auto;
    grid-auto-rows: minmax(10px, auto);
    justify-content: center;
    margin: 0;
    padding: 0; */
}

.gitInfo{
    height: 39vh;
    width: 45vw;
    display: inline-block;
    margin-top: 1vw;

}

#userInfo{
    padding-top: 1vw;
}
#fileInfo{
 

}
#changeInfo{
    /* position: absolute; */
    /* width: 100vw; */

}



.columnInfo{
    padding-top: 1vw;
    display: grid;
    text-align: center;
    grid-gap: 25vw;
    grid-template-columns: repeat(2, calc(10vw / 2));
    grid-auto-rows: auto;
    grid-auto-rows: minmax(10px, auto);
    justify-content: center;
}