body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

div{
    text-align: center;
    padding-top: 30px;
}

.gitInfo{
    display: grid;
    text-align: center;
    grid-gap: 50px;
    grid-template-columns: repeat(3, calc(600px / 2));
    grid-auto-rows: auto;
    grid-auto-rows: minmax(10px, auto);
    justify-content: center;
